<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhskg.bag.server.mapper.BagLocationMapper">
  <resultMap id="BaseResultMap" type="com.zhskg.bag.entity.BagLocation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="bag_info_id" jdbcType="BIGINT" property="bagInfoId" />
    <result column="latitude" jdbcType="DOUBLE" property="latitude" />
    <result column="longitude" jdbcType="DOUBLE" property="longitude" />
    <result column="report_time" jdbcType="TIMESTAMP" property="reportTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, bag_info_id, latitude, longitude, report_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_bag_location
    where bag_info_id = #{bagInfoId,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.zhskg.bag.entity.BagLocation">
    insert into t_bag_location (id, bag_info_id, latitude,
      longitude, report_time)
    values (#{id,jdbcType=BIGINT}, #{bagInfoId,jdbcType=BIGINT}, #{latitude,jdbcType=DOUBLE},
      #{longitude,jdbcType=DOUBLE}, #{reportTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zhskg.bag.entity.BagLocation">
    insert into t_bag_location
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bagInfoId != null">
        bag_info_id,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="reportTime != null">
        report_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="bagInfoId != null">
        #{bagInfoId,jdbcType=BIGINT},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="reportTime != null">
        #{reportTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhskg.bag.entity.BagLocation">
    update t_bag_location
    <set>
      <if test="bagInfoId != null">
        bag_info_id = #{bagInfoId,jdbcType=BIGINT},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="reportTime != null">
        report_time = #{reportTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhskg.bag.entity.BagLocation">
    update t_bag_location
    set bag_info_id = #{bagInfoId,jdbcType=BIGINT},
      latitude = #{latitude,jdbcType=DOUBLE},
      longitude = #{longitude,jdbcType=DOUBLE},
      report_time = #{reportTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>