<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhskg.bag.server.mapper.LogSysUserLoginMapper">
  <resultMap id="BaseResultMap" type="com.zhskg.bag.entity.LogSysUserLogin">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sys_user_id" jdbcType="BIGINT" property="sysUserId" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="logout_time" jdbcType="TIMESTAMP" property="logoutTime" />
    <result column="ip_address" jdbcType="VARCHAR" property="ipAddress" />
    <result column="broser_info" jdbcType="VARCHAR" property="broserInfo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sys_user_id, login_time, logout_time, ip_address, broser_info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_log_sys_user_login
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.zhskg.bag.entity.LogSysUserLogin">
    insert into t_log_sys_user_login (id, sys_user_id, login_time, 
      logout_time, ip_address, broser_info
      )
    values (#{id,jdbcType=BIGINT}, #{sysUserId,jdbcType=BIGINT}, #{loginTime,jdbcType=TIMESTAMP}, 
      #{logoutTime,jdbcType=TIMESTAMP}, #{ipAddress,jdbcType=VARCHAR}, #{broserInfo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhskg.bag.entity.LogSysUserLogin">
    insert into t_log_sys_user_login
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sysUserId != null">
        sys_user_id,
      </if>
      <if test="loginTime != null">
        login_time,
      </if>
      <if test="logoutTime != null">
        logout_time,
      </if>
      <if test="ipAddress != null">
        ip_address,
      </if>
      <if test="broserInfo != null">
        broser_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sysUserId != null">
        #{sysUserId,jdbcType=BIGINT},
      </if>
      <if test="loginTime != null">
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logoutTime != null">
        #{logoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ipAddress != null">
        #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="broserInfo != null">
        #{broserInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhskg.bag.entity.LogSysUserLogin">
    update t_log_sys_user_login
    <set>
      <if test="sysUserId != null">
        sys_user_id = #{sysUserId,jdbcType=BIGINT},
      </if>
      <if test="loginTime != null">
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logoutTime != null">
        logout_time = #{logoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ipAddress != null">
        ip_address = #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="broserInfo != null">
        broser_info = #{broserInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhskg.bag.entity.LogSysUserLogin">
    update t_log_sys_user_login
    set sys_user_id = #{sysUserId,jdbcType=BIGINT},
      login_time = #{loginTime,jdbcType=TIMESTAMP},
      logout_time = #{logoutTime,jdbcType=TIMESTAMP},
      ip_address = #{ipAddress,jdbcType=VARCHAR},
      broser_info = #{broserInfo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>